{% extends 'base.html' %}
{% block title %}Add Word{% endblock %}
{% block content %}
<section class="panel">
    <h1>Add a new word</h1>
    <form method="POST" class="form">
        {{ form.hidden_tag() }}
        <label>
            {{ form.word.label.text }}
            {{ form.word(class_='input', placeholder='e.g. candid', autofocus=true) }}
        </label>
        <label>
            {{ form.meaning.label.text }}
            {{ form.meaning(class_='input', placeholder='e.g. honest and straightforward') }}
        </label>
        {{ form.submit(class_='btn btn-primary') }}
    </form>
</section>
{% endblock %}
